doctype 5
html(lang="es")
	head
		meta(charset="utf-8")
		title="CEA - Compartir, Enseñar & Aprender"

		link(rel="stylesheet", href="/css/normalize.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="/css/estilo.css")

		link(rel="stylesheet", href="/codemirror/lib/codemirror.css")

		script(src="/js/jquery.js")
		script(src="/socket.io/socket.io.js")		
		script(src="/js/main.js")
			
		script(src="/codemirror/lib/codemirror.js")
		
		block masJs

	body

		header
			h1="{ CEA }"

		block contenido

		footer
			p="Todo surge de una necesidad y de esa necesidad podemos crear grandes cosas."
				br
				span="Desarrollador "
					a(href="https://twitter.com/s00rk")="@s00rk"

		